<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">

      <li class="header">Navegación</li>

      <li>
        <%= link_to root_path do %>
          <i class="fa fa-home"></i>
          <span><%= t :home %></span>
        <% end %>
      </li>
   
    </ul>
  </section>
</aside>