<!DOCTYPE html>
<html lang="es">
<head><%%= render 'head' %></head>
<body class="skin-green-light">
  <div class="wrapper">

    <%%= render 'navbar' %>

    <aside class="main-sidebar">
      <section class="sidebar">
        <%%= render 'side' %>
      </section>
    </aside>

    <div class="content-wrapper">
      <%%= yield %>
      <section id="snackbar-container">
        <%%= flash_messages if flash %>
      </section>
    </div>

    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b>
        0.1
      </div>
      <strong><%= @app_name.humanize %></strong>
    </footer>

  </div>
</body>
</html>